.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 64px;
  margin-top: 64px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  width: 928px;
  height: 80px;
  background: #121212;
  border: 1px solid #d8d8d8;
  border-radius: 20px;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 24px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.intro {
  align-items: center;
  justify-items: center;
  gap: 8px;
}

.title {
  font-family: Oakes Grotesk;
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -1%;
}

.subtitle {
  font-family: Oakes Grotesk;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0%;
}
